
.footer {
    width: 100%;
    padding: 1rem 0 3rem 0;
    background-color: $darkSecondary;
    color: #fff;

    p {
        display: inline-block;
        font-size: 12px;
        line-height: 12px;
    }
}

.footer__inner {
    @extend .wrapper;
    position: relative;
}

.footer-links__list {
    font-size: $font-size-small;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
    float: right;
}

.footer-links__item {
    display: inline-block;
}

.footer-social-icons__list {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 35px auto 0 auto;
    padding: 0;
    width: 100%;
}

.footer-social-icons__item {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}

.footer-social-icons__icon {
    margin: 0 5px
}

#icon-facebook, #icon-twitter, #icon-linkedin {
    fill: #fff;
}

svg:hover #icon-facebook, svg:hover #icon-twitter, svg:hover #icon-linkedin {
    fill: $neutral;
}

.footer-social-icons__item--facebook, .footer-social-icons__item--twitter, .footer-social-icons__item--linkedin {
    @extend .footer-social-icons__item;
}
