.header {
    display: block; 
    padding: 16px 0 10px 0;
    margin: 0 auto;
    text-align: center;
    background-color: $lightNeutral;

    @media #{$mq-medium} {
        display: inline-block; 
        padding: 22px 0 0 0;
        background-color: transparent;
        width: 30%;
    }
}

.acme-logo--mobile {
    width: 233px;
    
    @media #{$mq-medium} {
        display: none;
    }
}

.acme-logo--desktop {
    display: none;

    @media #{$mq-medium} {
        width: 130px;
        display: inline-block;
    }
}

.research-logo {
    display: none;

    @media #{$mq-medium} {
        display: inline;
        width: 220px;
        padding-right: 1.5rem;
        border-right: 1px solid #ccc;
    }
}

.nav-launch {
    color: #d81e05;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;

    &:hover {
        cursor: pointer;
    }

    @media #{$mq-medium} {
        display: none;
    }
}

.main-nav {
    @include box-sizing;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    @media #{$mq-medium} {
        color: #000;
        width: 50%;
        display: inline-block;
        position: relative;
        top: 1.75rem;
    }
}

.main-nav ul {

    & ul {
        margin: 0;
        padding: 0;
        height: 0;
        overflow: hidden;
        color: $darkSecondary;

        @media #{$mq-medium} {
            display: inline-block;
            margin: 0;
        }
    }

    li {
        @include box-sizing;
        display: block;
        line-height: 50px;
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
        z-index: 30;

        @media #{$mq-medium} {
            width: auto;
            line-height: 1em;
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        & a {
            @include box-sizing;
            font-size: .95rem;
            color: $darkNeutral;
            text-decoration: none;
            padding: 1.25rem;
            margin: 0 auto 0.75rem;
            display: block;
            width: 95%;
            background-color: $lightNeutral;
            text-align: center;

            &:hover {
                color: #000;
                text-decoration: none;
            }

            @media #{$mq-medium} {
                background-color: transparent;
                padding: 0 90px 0 0;
                color: #000;

                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    }
}

.blue-nav-bar  {
    background-color: $darkPrimary;
    height: 1.5rem;
    width: 100%;
}

.site-links {
    color: $darkPrimary;
    font-size: 1em;
    text-align: center;
    display: block;
    padding: 1rem;
    
    @media #{$mq-medium} {
        display: none;
    }
}