/* Breakpoints */
$mq-xsmall: "only screen and (min-width:400px)";
$mq-small-width: 400px;
$mq-small: "only screen and (min-width:480px)";
$mq-small-width: 480px;
$mq-medium: "only screen and (min-width:768px)";
$mq-medium-width: 768px;
$mq-large: "only screen and (min-width:1024px)";
$mq-large-width: 1024px;
$mq-xlarge: "only screen and (min-width:1309px)";
$mq-arge-width: 1309px;

// To use... @media #{variable}

/* Colors */
$neutral: #808080;
$lightNeutral: #eaecee;
$darkNeutral: #808081;
$primary: #1450d2; //Primary Brand Color
$lightPrimary:#009bfa;
$darkPrimary:#001254;
$secondary: #01a49c; //Brand Secondary
$lightSecondary:#d9d9d9;
$darkSecondary:#707070;
$body-font-color: #000;

/* fonts */
$body-font: 'Helvetica', Arial, sans-serif;
$heading-font: Helvetica, Arial, sans-serif;

/*font-sizes*/
$font-size-xsmall:12px;
$font-size-small:14px;
$font-size-medium:18px;
$font-size-large:24px;
$font-size-xlarge:36px;
$font-size-button:18px;
