
/*Wrappers*/
$wrapper-width: 1310px; //This is the max-width attribute of the wrapper per breakpoint.
$wrapper-padding: 0 20px; //The gutter pixel amount of the wrapper

//Constrains page content to $wrapper-width - $wrapper-padding
.wrapper {
    @include box-sizing;
    @extend .clearfix;
    position: relative;
    width: 100%;
    padding: $wrapper-padding;
    max-width: $wrapper-width;
    margin: 0 auto;

    @media #{$mq-large} {
        padding: $wrapper-padding;
    }
}

.wrapper--mobile {
    padding: 0;

    @media #{$mq-large} {
        padding: 0 20px!important;
    }
}

//100% of screen
.full-screen-width {
    @include box-sizing;
    position: relative;
    width: 100%;
    margin: 0 auto;
    
    @media #{$mq-large} {

    }
}

.full-screen-width--gray {
    @extend .full-screen-width;
    background-color: #ebebeb;
    padding: 3rem 0;

    h2, h3 {
        color:#000;
        font-weight: normal;
        text-align: left;
    }

    h3 {
        font-size: .8rem;
    }
}