
/*Wrappers*/
$wrapper-width: 1310px; //This is the max-width attribute of the wrapper per breakpoint.
$wrapper-padding: 0 20px; //The gutter pixel amount of the wrapper

//Constrains page content to $wrapper-width - $wrapper-padding
.wrapper {
    @include box-sizing;
    @extend .clearfix;
    position: relative;
    width: 100%;
    padding: 0;
    max-width: $wrapper-width;
    margin: 0 auto;

    @media #{$mq-large} {
        padding: $wrapper-padding;
    }
}

//100% of screen
.full-screen-width {
    @include box-sizing;
    position: relative;
    width: 100%;
    margin: 0 auto;
    
    @media #{$mq-large} {

    }
}