.full-width-text {
    @extend .wrapper;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: #fff;

    @media #{$mq-medium} {

    }

    @media #{$mq-large} {
        
    }
}

.full-width-text--left {
    @extend .full-width-text;
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$mq-large} {
        text-align: left;
    }
}

// .full-width-text__heading {

// }

// .full-width-text__description {

// }