
.full-screen-image {
    @extend .clearfix;
    position: relative;
    width: 100%;
    max-width: none;
    text-align: center;
    margin: 0 auto;
    min-width: 100%;
    overflow: hidden;
}

.image-contain--full-screen-image {
    @extend .image-contain;
    width: 100%;
}


/*full screen images */

.hero-image {
    background-image:url("/images/hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 250px;

    h1, h2 {
       color: #fff;
       text-align: left; 
    }

     @media #{$mq-medium} {
        height: 350px;
     }

     @media #{$mq-large} {
        background-image:url("/images/hero-desktop.jpg");
    }

    @media #{$mq-xlarge} {
        height: 500px;
    }
}

.blue-pattern {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url("https://via.placeholder.com/4000x600.jpg");
}

.full-screen-image__text-overlay {
        position: relative;
        transform: translateY(40%);

        @media #{$mq-xlarge} {
            top: 50%;
            transform: translateY(75%);
        }


    h1 {
        color:#fff;
        font-weight: normal;
        font-size: $font-size-large;
        margin-bottom: 1rem;

        @media #{$mq-medium} {
            line-height: 2.5rem;
            font-size: $font-size-xlarge;
         }
    }

    h2 {
        font-size:1rem;
        margin:0;
        color:#fff;
        font-weight: lighter;

        @media #{$mq-medium} {
            font-size: 1.25rem;
         }
    }
}