.grid-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-image-container {
  margin: 0 auto;
  text-align: center;
}

.grid-item {
  @include box-sizing;
  flex-basis: 100%;
  flex-wrap: wrap;
}

/*-----------------------------
 Two Columns
 ------------------------------*/

.two-col-item {
  @extend .grid-item;

  @media #{$mq-small} {
    flex-basis: 50%;
  }
}

/*-----------------------------
 Three Columns
 ------------------------------*/

.three-col-item {
  @extend .grid-item;

  @media #{$mq-small} {
    flex-basis: 32%;
  }
}

/*-----------------------------
 Four Columns
 ------------------------------*/

.four-col-item {
  @extend .grid-item;

  @media #{$mq-small} {
    padding: 10px;
    flex-basis: 50%;
  }
  @media #{$mq-medium} {
    flex-basis: 33.333%;
  }
  @media #{$mq-large} {
    flex-basis: 25%;
  }
}